


/* -------------------------------- */

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.i-name {
  color: red;
  transition: color 1.5s ease;
}
.nav-item:hover .i-name {
  color: white;
  transition: color 0.3s ease;
}

.ms-name {
  color: white;
  transition: color 1.5s ease;
}
.nav-item:hover .ms-name {
  color: red;
  transition: color 1.5s ease;
}

/*  */

.nav-animate::after {
  content: '';
  position: absolute;
  top: 0; 
  left: 0;
  width: 0;
  height: 3px;
  background-color: #FF3800;
  color: #FF3800;
  opacity: 0;
  transition: opacity 0.5s ease, width 1s ease-out;
}

.nav-animate:hover::after {
  opacity: 1;
  width: 100%;
}

.nav-animate:hover {
  padding-left: 10px;
}
.width5{
  width: 5%;
}

.width60{
  width: 60%;
}

.width35{
  width: 35%;
}

.fw-bolder{
  font-weight: bolder;
}

.date-color{
  color: #3426b4 !important;
}

.mg-top-10{
  margin-top: 10px;
}

.mg-down-10{
  margin-bottom: 10px;
}
.trash-btn{
  color: red !important;
}
.initiated{
  color: #a17627;
}

.forwarde{
  color: #007bff;
}
.returned{
  color: #D61C4E;
}

.reschedule{
  color: #F96302;
}
.acknowledge{
  color: green;
}

.lead-auditee{
  color: #641cd6;
}

.float-right{
  float: right;
}
.status{
  cursor: pointer;
  font-weight: bold;
}
.status:hover{
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
  padding: 5px;
}


.mg-l-40{
  margin-left: -43px;
}
.dropdown-item:hover {
  background-color: #FF3800 !important;
  transition: background-color 0.3s ease !important;
  color: white !important;
}


.dropdown {
  margin-right: 10px;
}

.btn-name{
  color: #fff !important;
}









  